
$light-blue: #64B5F6;
$blue: #2196F3;
$white: #fff;
$light-grey: #323232;
$black: #111;

$blue1: #E3F2FD;
$blue2: #BBDEFB;
$blue3: #90CAF9;
$blue4: #64B5F6;
$blue5: #42A5F5;
$blue6: #2196F3;
$blue7: #2196F3;
$blue8: #1976D2;
$blue9: #1565C0;
$blue10: #0D47A1;


$A100: #82B1FF;
$A200: #448AFF;
$A400: #2979FF;
$A700: #2962FF;



$accent-color: $blue;
$primary-bg: $white;
$secondary-bg: $light-blue;
$text-color: $light-grey;